def app := "N2O"
def build := lib
def cppLibs := [ "websockets" ]
def depsDir := "deps"
def files :=
  [ "N2O/Data/Bytes.lean",       "N2O/Data/Sum.lean",
    "N2O/Data/Put.lean",         "N2O/Data/Vector.lean",
    "N2O/Data/Parser.lean",      "N2O/Data/BERT.lean",
    "N2O/Data/Default.lean",     "N2O/Network/Internal.lean",
    "N2O/Network/Web/HTTP.lean", "N2O/Network/Web/Default.lean",
    "N2O/Network/Default.lean",
    "N2O/Network/Web/Callback.cpp",
    "N2O/Network/Web/Server.cpp",
    "N2O/Default.lean" ]
