def app := "N2O"
def build := lib
def cppLibs := [ "websockets" ]
def depsDir := "deps"
def files :=
  [ "Data/Bytes.lean", "Data/Sum.lean",
    "Data/Put.lean", "Data/Vector.lean",
    "Data/Parser.lean", "Data/BERT.lean",
    "Data/Default.lean", "Network/Internal.lean",
    "Network/Web/HTTP.lean", "Network/Web/Default.lean",
    "Network/Default.lean",
    "Network/Web/Callback.cpp",
    "Network/Web/Server.cpp",
    "Default.lean" ]
