def app := "n2o"
def build := lib
def cppLibs := [ "websockets" ]
def depsDir := "deps"
def files :=
  [ "data/bytes.lean", "data/sum.lean",
    "data/put.lean", "data/vector.lean",
    "data/parser.lean", "data/bert.lean",
    "data/Default.lean", "network/n2o/internal.lean",
    "network/n2o/web/http.lean", "network/n2o/web/Default.lean",
    "network/n2o/Default.lean",
    "network/n2o/web/callback.cpp",
    "network/n2o/web/server.cpp" ]
