{app, n2o}.
{build, lib}.
{files, [data/bytes.lean, data/sum.lean,
         data/put.lean, data/vector.lean,
         data/parser.lean, data/bert.lean,
         data/default.lean, network/n2o/internal.lean,
         network/n2o/web/http.lean, network/n2o/web/default.lean,
         network/n2o/default.lean,
         network/n2o/web/callback.cpp,
         network/n2o/web/server.cpp]}.
